.buttonContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.button {
	font-size: large;
	height: 27px;
}

.joinTwoPlayerGameContainer {
	display: flex;
	justify-content: center;
	border: 5px solid white;
}

.inputField {
	border: 5px solid white;
}

.error {
	text-align: center;
	color: red;
	font-size: small;
}
