.customiseGame {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.inputFieldContainer {
	display: flex;
	border: 5px solid white;
}

.inputLabel {
	border: 5px solid white;
}

.inputField {
	border: 5px solid white;
}

.error {
	text-align: center;
	color: red;
	font-size: small;
}
