.customiseGame {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.inputFieldContainer {
	display: flex;
	align-items: center;
}

.inputFieldContainer,
.inputLabel,
.inputField {
	margin: 5px;
}

.error {
	text-align: center;
	color: red;
	font-size: small;
}