main {
	container-type: size;
	margin: 5px;
}

.board {
	--column-count: 3;
	--row-count: 3;
	display: grid;
	width: fit-content;
	margin: auto;
}

/* to be overriden by the @container in browsers that support it */
main {
	overflow: auto;
}

.board {
	grid-template-columns: repeat(var(--column-count), min(calc(60vh / var(--row-count)), calc(90vw / var(--column-count))));
}

@container (width > 1px) {
	.board {
		grid-template-columns: repeat(var(--column-count), min(calc(100cqh / var(--row-count)), calc(100cqw / var(--column-count))));
	}

	main {
		overflow: hidden;
	}
}

.board[data-columns="4"] {
	--column-count: 4;
}

.board[data-columns="5"] {
	--column-count: 5;
}

.board[data-columns="6"] {
	--column-count: 6;
}

.board[data-columns="7"] {
	--column-count: 7;
}

.board[data-columns="8"] {
	--column-count: 8;
}

.board[data-columns="9"] {
	--column-count: 9;
}

.board[data-columns="10"] {
	--column-count: 10;
}

.board[data-rows="4"] {
	--row-count: 4;
}

.board[data-rows="5"] {
	--row-count: 5;
}

.board[data-rows="6"] {
	--row-count: 6;
}

.board[data-rows="7"] {
	--row-count: 7;
}

.board[data-rows="8"] {
	--row-count: 8;
}

.board[data-rows="9"] {
	--row-count: 9;
}

.board[data-rows="10"] {
	--row-count: 10;
}