.customiseGame {
    display: flex;
    justify-content: center;
    display: inline;
}

.formContainer {
    display: flex;
    justify-content: center;
}

.winnerStatus {
    text-align: center;
    border: 5px solid white;
    font-size: large;
}

.resetButtonContainer {
    display: flex;
    justify-content: center;
    border: 5px solid white;
}

.twoPlayerButtonContainer {
    display: flex;
    justify-content: center;
    border: 5px solid white;
}

.onePlayerButtonContainer {
    display: flex;
    justify-content: center;
    border: 5px solid white;
}

.reset {
    font-size: large;
}