.text {
	font-size: large;
	text-align: center;
}

.button {
	font-size: large;
	height: 27px;
}

.twoPlayerButtonContainer,
.onePlayerButtonContainer,
.playComputerButtonContainer {
	display: flex;
	justify-content: center;
	margin: 5px;
}
