.text {
	font-size: large;
	text-align: center;
}

.button {
	font-size: large;
	height: 27px;
}

.twoPlayerButtonContainer {
	display: flex;
	justify-content: center;
	border: 5px solid white;
}

.onePlayerButtonContainer {
	display: flex;
	justify-content: center;
	border: 5px solid white;
}
